.box {
  width: 50px;
  height: 50px;
  background: blue;
  margin: 10px;
}

.container {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}

.box--dragging {
  border: 5px dashed #000;
  box-sizing: border-box;
  opacity: 0.5;
}

.drag-layer {
  position: fixed;
}

.card {
  width: 200px;
  line-height: 60px;
  padding: 0 20px;
  border: 1px solid #000;
  background-color: skyblue;
  margin: 10px;
  cursor: move;
}

.card--dragging {
  border-style: dashed;
  background: #fff;
}
